<div class="sub-title"><img src="images/tit-checkout.svg" alt=""></div>
<main class="app">
  <div class="container-pag">
    <ul class="tabs">
      <li class="tab-link " data-tab="tab-1">Boleto</li>
      <li class="tab-link" data-tab="tab-2">Cartão</li>
      <li class="tab-link current" data-tab="tab-3">QRPague</li>
    </ul>
    <div id="tab-1" class="tab-content "><img src="images/gerar-boleto.svg" alt=""></div>
    <div id="tab-2" class="tab-content"><img src="images/cartao-credito.svg" alt=""></div>
    <div id="tab-3" class="tab-content current">
      <div class="qrcode">
        <p>QR CODE</p>
        <!-- <a ng-href="checkout-result"><img src="images/qrpague.png" alt=""></a> -->
        <div id="qrcode"></div>

        <h3>Total: R$ {{ order.valor | currency:""  }}</h3>
        <!-- <a class="bot-pagar" ng-click="result()"><img src="images/bot-pagar.svg" alt=""></a> -->
        <a class="bot-mobile-bank" ng-click="result()"><img src="images/bot-mobile-bank.svg" alt=""></a>
      </div>
    </div>
  </div>
</main>





 