<main ng-controller="CarrinhoController">
  <!-- <p ng-if="!operacoes || operacoes.length == 0" class="status">Sem operações digitais.</p> -->
  </div>


  <div class="section">

      <div class="label">
        <span >Abertas: {{ total('ABERTO') }}</span>
        <span >Fechadas: {{ total('FECHADO') }}</span>
        <span >Pagamentos: {{ total('PAGAMENTO') }}</span>
        <span >Titulos: {{ total('TITULO') }}</span>
        <span >Convênios: {{ total('CONVENIO') }}</span>
      </div>
    </div>

    

  
    

  <table class="bordered striped responsive-table"" >
      <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>CPNJ</th>
            <th>SITUAÇÃO</th>
            <th>VALOR</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in operacoes" >
          <td>{{ item._id }}</td>
          <td>{{ item.dataHoraSolicitacao | date:"dd/MM/yyyy  H:mm" }}</td>
          <td>{{ item.descricao }}</td>
          <td>{{ item.cnpjInstituicao }}</td>
          <td>{{ item.situacao }}</td>
          <td>R$ {{ item.valor | currency:"" }}</td>
        </tr>
         
      </tbody>
    </table>
          


    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>

 


</main>