swagger: "2.0"

info:
  description: >-
    A solução QRPague utiliza as tecnologias de QRCode e API para implementar
    operações financeiras de saque, pagamentos e transferência entre
    instituições distintas, sendo elas financeiras ou não. Esta API fornece um
    conjunto de serviços de emissão, autorização e confirmação de operações
    financeiras online. O uso das APIs deve obedecer os fluxos de processo
    disponíveis no GitHub do projeto para cada natureza de operação (saque,
    transferência ou pagamento).
  version: v1
  title: Operações Digitais QRPague
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: dev@sicoob.com.br

host: qrpague.sicoob.com.br
basePath: /conta-corrente
schemes:
  - https

paths:
  /operacoes:
    x-swagger-router-controller: operacoes-controller
    post:
      tags:
        - Operações Financeiras Digitais
      summary: Endpoit para gerar um QRCode de operação financeira digital.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para que
        um cliente/beneficiário possa solicitar a geração de um QRCode para uma
        operação financeira digital.
      operationId: criarOperacao
      security:
        - OAuth2: [qrpague_operacao_cadastro]
      consumes:
        - application/json
      produces:
        - text/plain
        - application/json
      parameters:
        - in: body
          name: OperacaoFinanceira
          required: true
          schema:
            $ref: '#/definitions/InclusaoOperacaoFinanceira'
      responses:
        '201':
          description: Imagem do QRCode gerado a partir do mecanismo do QRPAGUE.
          schema:
            type: string
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '422':
          description: >-
            Exceção de negócio quando uma operação financeira digital
            já foi emitida.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    get:
      tags:
        - Operações Financeiras Digitais
      summary: >-
        Endpoit para recuperar informações de operações financeiras digitais
        através da url QRPAGUE codifica no QRCode gerado pela instituição
        cedente.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        devolver as informações complementares de uma operação financeira
        digital gerada através da solução QRPague pelo parâmetro uuid.
      operationId: consultarOperacoes
      security:
        - OAuth2: [qrpague_operacao_consulta]
      produces:
        - application/qrpague
        - application/json
      parameters:
        - in: header
          name: token-instituicao
          type: string
          description: >-
            JSON Web Token de pagamento assinado pela instituição 
            que solicita o pagamento. RFC 7519
          required: true
        - in: query
          type: string
          minLength: 11
          maxLength: 14
          name: cpfCnpjBeneficiario
          description: >-
            Especificação do CPF ou CPNJ do beneficiário das operações
            financeiras digitais sem barras e pontos.
          required: true
        - in: query
          name: idRequisicao
          type: string
          description: >-
              Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        - in: query
          name: paginaInicial
          type: integer
          description: >-
            Especificação de uma página inicial para consulta de operações
            financeiras digitais.
        - in: query
          name: tamanhoPagina
          type: integer
          description: >-
            Especificação de um tamanho de página para consulta de operações
            financeiras digitais.
        - in: query
          name: periodoInicio
          type: string
          format: date-time
          description: >-
            Data de início de período da emissão das operações financeiras
            digitais para filtragem. RFC 3339, Exemplo: 2017-07-21.
        - in: query
          name: periodoFim
          type: string
          format: date-time
          description: >-
            Data final de período da emissão das operações financeiras digitais
            para filtragem. RFC 3339, Exemplo: 2017-07-21.
      responses:
        '200':
          description: Requisição realizada com sucesso
          schema:
            $ref: '#/definitions/RespostaConsultaOperacoes'
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/operacoes/{uuid}':
    x-swagger-router-controller: operacoes-controller
    get:
      tags:
        - Operações Financeiras Digitais
      summary: >-
        Endpoit para consultar informações de uma operação financeira digital
        (Transferência, Saque ou Pagamento) gerada através do QRPAGUE.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        recuperar as informações de uma operação financeira digital
        (Transferência, Saque ou Pagamento) identificada pelo UUID passado como
        parâmetro. 
      operationId: consultarOperacao
      security:
        - OAuth2: [qrpague_operacao_consulta]
      produces:
        - application/qrpague
        - application/json
      parameters:
        - in: header
          name: token-instituicao
          type: string
          description: >-
            JSON Web Token de pagamento assinado pela instituição 
            que solicita o pagamento. RFC 7519
          required: true
        - in: path
          name: uuid
          description: >-
            Identificador único da operação financeira na instituição financeira
            que gerou o QRCode.
          required: true
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
      responses:
        '200':
          description: Requisição realizada com sucesso
          schema:
            $ref: '#/definitions/RespostaConsultaOperacaoFinanceira'
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/operacoes/{uuid}/efetivacao':
    x-swagger-router-controller: operacoes-controller
    put:
      tags:
        - Operações Financeiras Digitais
      summary: >-
        Endpoit para receber a efetivação de execução com sucesso de uma
        operação financeira digital gerada através do QRPAGUE.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        receber a confirmação da efetivação de uma operação financeira digital
        gerada através da solução QRPague e identificada pelo seu uuid.
      operationId: efetivarOperacao
      security:
        - OAuth2: [qrpague_operacao_efetivacao]
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uuid
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
          description: >-
            Identificador único da operação financeira na instituição financeira
            que gerou o QRPague.
          required: true
        - in: body
          name: EfetvicacaoOperacao
          required: true
          schema:
            $ref: '#/definitions/InclusaoEfetivacaoOperacao'
      responses:
        '204':
          description: Confirmação realizada com sucesso
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '406':
          description: >-
            Exceção de negócio quando atualização de status da operação não for
            feita corretamente.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/operacoes/{uuid}/confirmacao':
    x-swagger-router-controller: operacoes-controller
    put:
      tags:
        - Operações Financeiras Digitais
      summary: >-
        Endpoint para confirmar a entrega de um produto de uma
        operação financeira digital gerada através do QRPAGUE.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        receber a confirmação do recebimento de uma operação financeira digital
        gerada através da solução QRPague e identificada pelo seu uuid.
      operationId: confirmarOperacao
      security:
        - OAuth2: [qrpague_operacao_confirmacao]
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uuid
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
          description: >-
            Identificador único da operação financeira na instituição financeira
            que gerou o QRPague.
          required: true
        - in: body
          name: ConfirmacaoOperacao
          required: true
          schema:
            $ref: '#/definitions/InclusaoConfirmacaoOperacao'
      responses:
        '204':
          description: Confirmação realizada com sucesso
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '406':
          description: >-
            Exceção de negócio quando atualização de status da operação não for
            feita corretamente.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/operacoes/{uuid}/pagamentos':
    post:
      tags:
        - Pagamentos
      summary: >-
        Endpoit para registrar pagamento de uma operação financeira digital
        gerada através do QRPague.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        registrar um pagamento para realização de uma operação financeira
        digital gerada através da solução QRPague e identificada pelo seu uuid.
      operationId: operacao-financeira-pagar
      security:
        - OAuth2: [qrpague_pagamento_cadastro]
      consumes:
        - application/json
      produces:
        - application/qrpague
        - application/json
      parameters:
        - in: header
          name: token-instituicao
          type: string
          description: >-
            JSON Web Token de pagamento assinado pela instituição 
            que solicita o pagamento. RFC 7519
          required: true
        - in: path
          name: uuid
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
          description: >-
            Identificador único da operação financeira na instituição financeira
            que gerou o QRPague.
          required: true
        - in: body
          name: InclusaoPagamento
          required: true
          schema:
            $ref: '#/definitions/InclusaoPagamento'
      responses:
        '201':
          description: Requisição realizada com sucesso
          schema:
            $ref: '#/definitions/ConsultaPagamento'
        '400':
          description: Exceção de negócio
          schema:
              $ref: '#/definitions/MensagemRetorno'
        '406':
          description: >-
            Exceção de negócio quando a realização de um pagamento de uma operação
            não for feita corretamente.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '422':
          description: >-
            Exceção de negócio quando a realização de um pagamento 
            já foi efetuada.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /pagamentos:
    get:
      tags:
        - Pagamentos
      summary: >-
        Endpoit para recuperar informações de pagamentos vinculados a operações
        financeiras digitais através da url QRPAGUE codifica no QRCode gerado
        pela instituição cedente.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        devolver as informações de pagaemntos ligados a operações financeira
        digitais gerada através da solução QRPague pelo parâmetro uuid.
      operationId: pagamentos-recuperar
      security:
        - OAuth2: [qrpague_pagamento_consulta]
      produces:
        - application/qrpague
        - application/json
      parameters:
        - in: header
          name: token-instituicao
          type: string
          description: >-
            JSON Web Token de pagamento assinado pela instituição 
            que solicita o pagamento. RFC 7519
          required: true
        - in: query
          name: idRequisicao
          type: string
          description: >-
              Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        - in: query
          name: cpfCnpjPagador
          type: string
          minLength: 11
          maxLength: 14
          description: >-
            Especificação do CPF ou CPNJ do pagador para os pagamentos de
            operações financeiras digitais sem barras e pontos.
        - in: query
          name: uuidOperacaoFinanceira
          description: >-
            Identificador único da operação financeira digital na instituição
            sacadora. RFC 4122
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        - in: query
          name: paginaInicial
          description: >-
            Especificação de uma página inicial para consulta de operações
            financeiras digitais.
          type: integer
        - in: query
          name: tamanhoPagina
          description: >-
            Especificação de um tamanho de página para consulta de operações
            financeiras digitais.
          type: integer
        - in: query
          name: periodoInicio
          type: string
          format: date-time
          description: >-
            Data de início de período da emissão das operações financeiras
            digitais para filtragem. RFC 3339, Exemplo: 2017-07-21.
        - in: query
          name: periodoFim
          type: string
          format: date-time
          description: >-
            Data final de período da emissão das operações financeiras digitais
            para filtragem. RFC 3339, Exemplo: 2017-07-21.
      responses:
        '200':
          description: Requisição realizada com sucesso
          schema:
            $ref: '#/definitions/RespostaConsultaPagamentos'
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/pagamentos/{uuid}':
    get:
      tags:
        - Pagamentos
      summary: >-
        Endpoit para consultar informações de um pagamento ligado a uma operação
        financeira digital gerada através do QRPAGUE.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        recuperar as informações de um pagamento ligado a uma operação
        financeira digital identificada pelo UUID passado como parâmetro. 
      operationId: pagamento-consultar
      security:
        - OAuth2: [qrpague_pagamento_consulta]
      produces:
        - application/qrpague
        - application/json
      parameters:
        - in: header
          name: token-instituicao
          type: string
          description: >-
            JSON Web Token de pagamento assinado pela instituição 
            que solicita o pagamento. RFC 7519
          required: true
        - in: path
          name: uuid
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
          description: >-
            Identificador único do pagamento ligado a uma operação financeira na
            instituição financeira que gerou o QRCode.
          required: true
      responses:
        '200':
          description: Requisição realizada com sucesso
          schema:
            $ref: '#/definitions/RespostaConsultaPagamento'
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/pagamentos/{uuid}/confirmacao':
    put:
      tags:
        - Pagamentos
      summary: >-
        Endpoit para receber a confirmação de pagamentos de uma operação
        financeira digital gerada através do QRPAGUE.
      description: >-
        Este endpoint deve ser implementado pela instituição financeira para
        receber a confirmação da efetivação de pagamentos ligados a uma operação
        financeira digital gerada através da solução QRPague e identificada pelo
        seu uuid.
      operationId: pagamento-confirmar
      security:
        - OAuth2: [qrpague_pagamento_confirmacao]
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uuid
          type: string
          pattern: >-
            ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
          description: >-
            Identificador único do pagamento ligado a uma operação financeira na
            instituição financeira que gerou o QRPague.
          required: true
        - in: body
          name: ConfirmacaoPagamento
          required: true
          schema:
            $ref: '#/definitions/InclusaoConfirmacaoPagamento'
      responses:
        '204':
          description: Confirmação realizada com sucesso
        '400':
          description: Exceção de negócio
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '406':
          description: >-
            Exceção de negócio quando atualização de status da operação não for
            feita corretamente.
          schema:
            $ref: '#/definitions/MensagemRetorno'
        '500':
          description: Erro interno no servidor
          schema:
            $ref: '#/definitions/MensagemRetorno'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      
securityDefinitions:
  OAuth2:
    type: oauth2
    authorizationUrl: 'https://<<uri>>/oauth/authorize'
    tokenUrl: 'https://<<uri>>/token'
    flow: accessCode
    scopes:
      qrpague_operacao_cadastro: Autoriza recurso para gerar uma operação financeira digital.
      qrpague_operacao_consulta: Autoriza recurso para consultar operação financeira digital.
      qrpague_operacao_efetivacao: Autoriza recurso para efetivar uma operação financeira digital.
      qrpague_operacao_confirmacao: Autoriza recurso para confirmar uma operação financeira digital.
      qrpague_pagamento_cadastro: Autoriza recurso para gerar pagamento.
      qrpague_pagamento_consulta: Autoriza recurso para consultar pagamento.
      qrpague_pagamento_confirmacao: Autoriza recurso para confirmar pagamento.

definitions:
  RespostaConsultaOperacoes:
    type: object
    properties:
      quantidadeRegistros:
        type: integer
        description: >-
          Quantidade de objetos retornados em uma consulta de operações
          financeiras ou pagamentos.
        example: 50
      tamanhoPagina:
        type: integer
        description: >-
          Quantidade de objetos apresentados por página em uma consulta de
          operações financeiras ou pagamentos.
        example: 15
      paginaAtual:
        type: integer
        description: >-
          Número que representa a página em que uma consulta de operações
          financeiras ou pagamentos está sendo apresentada.
        example: 2
      links:
        type: array
        description: >-
          Links de possíveis ações a serem realizadas no resultado vindo de
          uma consulta de operações financeiras ou pagamentos.
        items:
          $ref: '#/definitions/Link'
      resultados:
        type: array
        description: >-
          Conjunto de objetos recuperados a partir dos parâmetros de filtragem
          informados.
        items:
          $ref: '#/definitions/ConsultaOperacaoFinanceira'
      hash:
        type: string
        description: >-
          Hash do resultado na consulta.
      assinatura:
        type: string
        description: >-
          Assinatura da instituição que gera o resultado.
      algoritmo:
        type: string
        description: >-
          Algoritmo utilizado na assinatura.
    required:
      - quantidadeRegistros
      - resultados
      - hash
      - assinatura
      - algoritmo
  RespostaConsultaPagamentos:
    type: object
    properties:
      quantidadeRegistros:
        type: integer
        description: >-
          Quantidade de objetos retornados em uma consulta de operações
          financeiras ou pagamentos.
        example: 50
      tamanhoPagina:
        type: integer
        description: >-
          Quantidade de objetos apresentados por página em uma consulta de
          operações financeiras ou pagamentos.
        example: 15
      paginaAtual:
        type: integer
        description: >-
          Número que representa a página em que uma consulta de operações
          financeiras ou pagamentos está sendo apresentada.
        example: 2
      links:
        type: array
        description: >-
          Links de possíveis ações a serem realizadas no resultado vindo de
          uma consulta de operações financeiras ou pagamentos.
        items:
          $ref: '#/definitions/Link'
      resultados:
        type: array
        description: >-
          Conjunto de objetos recuperados a partir dos parâmetros de filtragem
          informados.
        items:
          $ref: '#/definitions/ConsultaPagamento'
      hash:
        type: string
        description: >-
          Hash do resultado na consulta.
      assinatura:
        type: string
        description: >-
          Assinatura da instituição que gera o resultado.
      algoritmo:
        type: string
        description: >-
          Algoritmo utilizado na assinatura.
    required:
      - quantidadeRegistros
      - resultados
      - hash
      - assinatura
      - algoritmo
  Link:
    type: object
    properties:
      url:
        type: string
        description: Código do produto ou serviço para o cliente do QRCode emitido.
        example: >-
          <<api.dominio.com.br>>/qrpague/operacoes?paginaInicial=2&tamanhoPagina=20
      descricao:
        type: string
        description: Descrição do link.
        example: próxima pagina
      metodoHttp:
        type: string
        enum:
          - POST
          - GET
          - PUT
          - DELETE
        description: Método http aplicado à URL espeficida.
        example: GET
    required:
      - url
      - descricao
      - metodoHttp
  RespostaConsultaOperacaoFinanceira:
    type: object
    properties:
      resultado:
        $ref: "#/definitions/ConsultaOperacaoFinanceira"
      hash:
        type: string
        description: >-
          Hash do resultado na consulta.
      assinatura:
        type: string
        description: >-
          Assinatura da instituição que gera o resultado.
      algoritmo:
        type: string
        description: >-
          Algoritmo utilizado na assinatura.
    required:
      - resultado
      - hash
      - assinatura
      - algoritmo
  ConsultaOperacaoFinanceira:
    type: object
    properties:
      callbackURI:
        type: string
        description: >-
          URL de callback para recebimento da confirmação de uma operação e/ou pagamento.
      versao:
        type: number
        format: float
        description: Número da versão do formato do JSON especificado.
        example: 1
      cnpjInstituicao:
        type: string
        description: >-
          CNPJ da instituição financeira do beneficiário da operação
          financeira digital.
        maxLength: 14
        example: "01234567890123"
      uuid:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador único da operação financeira digital na instituição
          sacadora. RFC 4122
        example: 3d0ca315-aff9–4fc2-be61–3b76b9a2d798
      idRequisicao:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        example: 3d0ca315-aff9–4fc2-be61–3b76b9a2d798
      valor:
        type: integer
        description: >-
          Valor da operação financeira realizada, onde os últimos 2 dígitos
          são as casas decimais.
        example: 150000
      descricao:
        type: string
        description: Descrição da operação financeira realizada.
        example: Pagamento do serviço de Advocacia na Meu escritório de advogados.
      dataHoraSolicitacao:
        type: string
        format: date-time
        description: >-
          Data e hora da solicitação da operação financeira na instituição
          financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
      dataHoraVencimento:
        type: string
        format: date-time
        description: >-
          Data e hora de vencimento da operação financeira na instituição
          financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
      dataHoraEfetivacao:
        type: string
        format: date-time
        description: >-
          Data e hora de efetivação da operação financeira na instituição
          financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
      tipoOperacao:
        type: string
        enum:
          - SAQUE
          - TRANSFERENCIA
          - VENDA
        description: >-
          Tipo da operação financeira digital realizada.
        example: VENDA
      exigeEndereco:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira exige endereço (true). Operação
          financeira não exige endereço (false).
        example: true
      exigeEmail:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira exige endereço de e-mail (true). Operação
          financeira não exige endereço de e-mail (false).
        example: false
      situacao:
        type: string
        enum:
          - EMITIDO
          - PAGO
          - PAGO_PARCIALMENTE
          - AUTORIZADO
          - CONFIRMADO
          - CANCELADO
        description: Situação da operação financeira digital realizada.
        example: PAGO
      beneficiario:
        $ref: '#/definitions/Pessoa'
      itens:
        type: array
        items:
          $ref: '#/definitions/Item'
        description: >-
          Itens participantes de uma da operação financeira digital gerado
          para um QRCode.
      pagamentos:
        type: array
        items:
          $ref: '#/definitions/ConsultaPagamento'
        description: >-
          Pagamentos realizados atrelados a uma operação financeira digital
          para um QRCode gerado.
      confirmacaoOperacao:
        $ref: '#/definitions/ConsultaConfirmacaoOperacao'
      efetivacaoOperacao:
        $ref: '#/definitions/ConsultaEfetivacaoOperacao'
    required:
      - uuid
      - callbackURI
      - versao
      - cnpjInstituicao
      - valor
      - dataHoraSolicitacao
      - situacao
      - tipoOperacao
      - beneficiario
  InclusaoOperacaoFinanceira:
    type: object
    properties:
      callbackURI:
        type: string
        description: >-
          URL de callback para recebimento da confirmação de uma operação e/ou pagamento.
      versao:
        type: number
        format: float
        description: Número da versão do formato do JSON especificado.
        example: 1
      cnpjInstituicao:
        type: string
        description: >-
          CNPJ da instituição financeira do beneficiário da operação
          financeira digital.
        maxLength: 14
        example: "01234567890123"
      idRequisicao:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        example: 3d0ca315-aff9–4fc2-be61–3b76b9a2d798
      valor:
        type: integer
        description: >-
          Valor da operação financeira realizada, onde os últimos 2 dígitos
          são as casas decimais.
        example: 150000
      descricao:
        type: string
        description: Descrição da operação financeira realizada.
        example: Pagamento do serviço de Advocacia na Meu escritório de advogados.
      dataHoraVencimento:
        type: string
        format: date-time
        description: >-
          Data e hora de vencimento da operação financeira na instituição
          financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
      tipoOperacao:
        type: string
        enum:
          - SAQUE
          - TRANSFERENCIA
          - VENDA
        description: >-
          Tipo da operação financeira digital realizada.
        example: VENDA
      exigeEndereco:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira exige endereço (true). Operação
          financeira não exige endereço (false).
        example: true
      exigeEmail:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira exige endereço de e-mail (true). Operação
          financeira não exige endereço de e-mail (false).
        example: false
      beneficiario:
        $ref: '#/definitions/Pessoa'
      itens:
        type: array
        items:
          $ref: '#/definitions/Item'
        description: >-
          Itens participantes de uma da operação financeira digital gerado
          para um QRCode.
    required:
      - callbackURI
      - versao
      - cnpjInstituicao
      - valor
      - dataHoraVencimento
      - tipoOperacao
      - beneficiario
  RespostaConsultaPagamento:
    type: object
    properties:
      resultado:
        $ref: "#/definitions/ConsultaPagamento"
      hash:
        type: string
        description: >-
          Hash do resultado na consulta.
      assinatura:
        type: string
        description: >-
          Assinatura da instituição que gera o resultado.
      algoritmo:
        type: string
        description: >-
          Algoritmo utilizado na assinatura.
    required:
      - resultado
      - hash
      - assinatura
      - algoritmo
  ConsultaPagamento:
    type: object
    properties:
      uuid:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador único de um pagamento realizado para uma operação
          financeira digital na instituição sacadora. RFC 4122
        example: "3d0ca315-aff9–4fc2-be61–3b76b9a2d798"
      uuidOperacaoFinanceira:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador único de uma operação financeira digital
          na instituição sacadora. RFC 4122
        example: "3d0ca315-aff9–4fc2-be61–3b76b9a2d798"
      idRequisicao:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        example: 3d0ca315-aff9–4fc2-be61–3b76b9a2d798
      dataHoraPagamento:
        type: string
        format: date-time
        description: >-
          Data e hora do pagamento realizado para uma operação financeira na
          instituição financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
      pagador:
        $ref: '#/definitions/Pessoa'
      valor:
        type: integer
        description: >-
          Valor de um pagamento realizado para uma operação financeira
          realizada, onde os últimos 2 dígitos são as casas decimais.
        example: 20000
      situacao:
        type: string
        enum:
          - REALIZADO
          - CONFIRMADO
          - CANCELADO
        description: >-
          Situação do pagmento ligado a uma operação financeira digital
          realizada.
        example: REALIZADO
      confirmacaoPagamento:
        $ref: '#/definitions/ConsultaConfirmacaoPagamento'
    required:
      - uuid
      - uuidOperacaoFinanceira
      - dataHoraPagamento
      - pagador
      - valor
      - situacao
  InclusaoPagamento:
    type: object
    properties:
      pagador:
        $ref: '#/definitions/Pessoa'
      valor:
        type: integer
        description: >-
          Valor de um pagamento realizado para uma operação financeira
          realizada, onde os últimos 2 dígitos são as casas decimais.
        example: 20000
      idRequisicao:
        type: string
        pattern: >-
          ^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$
        description: >-
          Identificador opcional para controle de idempotência, ou seja, para não repetir uma operação. RFC 4122
        example: 3d0ca315-aff9–4fc2-be61–3b76b9a2d798
    required:
      - pagador
      - valor
  Pessoa:
    type: object
    properties:
      nome:
        type: string
        description: Nome do beneficiário na operação financeira digital.
        example: "Meu escritório de advogados"
      cpfCnpj:
        description: >-
          Numero do CPF ou CNPJ da Pessoa participante da operação financeira
          digital ou pagamento (incluindo dígito verificador, sem separador)
        type: string
        minLength: 11
        maxLength: 14
        example: '12345678999'
      endereco:
        $ref: '#/definitions/Endereco'
        description: >-
          Endereço vinculado à pessoa.
      instituicao:
        type: string
        description: >-
          ISQN da instituição do beneficiário na operação financeira digital.
          Número composto pelos primeiros 8 dígitos do CPNJ da instituição
          financeira.
        example: '01234567'
      agencia:
        type: string
        description: >-
          Agência do beneficiário referente à operação financeira, quando
          pertinente.
        example: '1230'
      conta:
        type: string
        description: >-
          Conta do beneficiário referente à operação financeira incluindo
          dígito verificador, quando pertinente.
        example: '222222'
      operacao:
        type: string
        description: >-
          Operação da conta do beneficiário referente à operação financeira,
          quando pertinente.
        example: '51'
      tipoConta:
        type: string
        enum:
          - CCO
          - POUP
        description: >-
          Tipo da conta do beneficiário referente à operação financeira,
          quando pertinente.
        example: POUP
    required:
      - nome
      - cpfCnpj
      - instituicao
  Endereco:
    type: object
    properties:
      logradouro:
        type: string
        description: >-
          Logradouro do endereço conforme formato de endereço dos Correios.
        example: "SIG Quadra"
      complemento:
        type: string
        description: >-
          Complemento do logradouro do endereço conforme formato de endereço dos Correios.
        example: "CCS"
      bairro:
        type: string
        description: >-
          Bairro do endereço conforme formato de endereço dos Correios.
        example: "Zona Industrial"
      valorUnitario:
        type: integer
        description: >-
          Número do endereço conforme formato de endereço dos Correios.
        example: 8
      localidade:
        type: string
        description: >-
          Localidade do endereço conforme formato de endereço dos Correios.
        example: "Brasília"
      uf:
        type: string
        pattern: '^[A-Z]{2}$'
        description: >-
          Sigla da Unidade Federativa do do endereço conforme formato de endereço dos Correios.
        example: DF
      cep:
        type: string
        pattern: '^[0-9]{5}-[0-9]{3}$'
        description: >-
          CEP do endereço conforme formato de endereço dos Correios.
        example: "70000-000"
  Item:
    type: object
    properties:
      descricao48:
        type: string
        description: Descrição do produto para impressora de 48 posições.
        example: Desc resumida produto
      descricaoCompleta:
        type: string
        description: Descrição completa do produto ou serviço consumido.
        example: >-
          Descrição mais detalhada do produto que pode extrapolar as 48
          posições da descrição resumida.
      codigo:
        type: string
        description: Código do produto ou serviço para o cliente do QRCode emitido.
        example: xpto-4851-3327
      quantidade:
        type: integer
        description: >-
          Quantaide de itens do produto ou serviço integrante da operação
          financeira digital.
        example: 1
      valorUnitario:
        type: integer
        description: >-
          Valor unitário do produto ou serviço integrante da operação
          financeira digital onde os últimos 2 dígitos representam as casas
          decimais.
        example: 75000
      desconto:
        type: integer
        description: >-
          Desconto aplicado ao total do valor da operação financeira digital
          referente aos seus itens onde os últimos 2 dígitos representam as
          casas decimais.
        example: 3500
      total:
        type: integer
        description: >-
          Total do valor dos itens participantes da operação financeira
          digital referente do QRCode gerado onde os últimos 2 dígitos
          representam as casas decimais.
        example: 71500
      urlThumbImg:
        type: string
        description: >-
          URL da imagem do item participante da operação financeira digital
          referente do QRCode gerado.
        example: <<dominiocliente.com.br>>/prod35/img1.jpg
    required:
      - descricaoCompleta
      - quantidade
      - valorUnitario
      - total
  Terminal:
    type: object
    properties:
      idTerminal:
        type: string
        description: Identificador único do terminal na rede da instituição financeira.
        example: 0001128322332
      descricao:
        type: string
        description: Descrição do terminal na rede da instituição financeira.
        example: Terminal do super mercado do baixo abc.
      uf:
        type: string
        pattern: '^[A-Z]{2}$'
        description: >-
          Sigla da Unidade Federativa do terminal onde o saque está sendo
          solicitado.
        example: DF
      cep:
        type: string
        pattern: '^[0-9]{5}-[0-9]{3}$'
        description: CEP do endereço do terminal onde está sendo solicitado o saque.
        example: 70000-000
      latitudeTerminal:
        type: number
        format: double
        description: Latitude em graus do terminal onde está sendo solicitado o saque.
        example: '-15.7801'
      longitudeTerminal:
        type: number
        format: double
        description: Longitude em graus do terminal onde está sendo solicitado o saque.
        example: '-47.9292'
    required:
      - idTerminal
      - descricao
      - uf
      - cep
      - latitudeTerminal
      - longitudeTerminal
  ConsultaConfirmacaoPagamento:
    type: object
    properties:
      pagamentoConfirmado:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Pagamento confirmado (true). Pagamento não confirmado (false).
        example: true
      dataHoraConfirmacao:
        type: string
        format: date-time
        description: >-
          Data e hora da confirmação do pagamento 
          na instituição financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
    required:
      - pagamentoConfirmado
      - dataHoraConfirmacao
  InclusaoConfirmacaoPagamento:
    type: object
    properties:
      pagamentoConfirmado:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Pagamento confirmado (true). Pagamento não confirmado (false).
        example: true
    required:
      - pagamentoConfirmado
  ConsultaEfetivacaoOperacao:
    type: object
    properties:
      operacaoEfetivada:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira efetivada (true). Operação financeira não efetivada (false).
        example: true
      dataHoraEfetivacao:
        type: string
        format: date-time
        description: >-
          Data e hora da efetivação da operação financeira digital 
          na instituição financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
    required:
      - operacaoEfetivada
      - dataHoraEfetivacao
  InclusaoEfetivacaoOperacao:
    type: object
    properties:
      operacaoEfetivada:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira efetivada (true). Operação financeira não efetivada (false).
        example: true
    required:
      - operacaoEfetivada
  ConsultaConfirmacaoOperacao:
    type: object
    properties:
      operacaoConfirmada:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira confirmada (true). Operação financeira não confirmada (false).
        example: true
      dataHoraConfirmacao:
        type: string
        format: date-time
        description: >-
          Data e hora da confirmação da operação financeira digital 
          na instituição financeira. Formato RFC 3339, seção 5.6.
        example: '2017-07-21T17:32:28Z'
    required:
      - operacaoConfirmada
      - dataHoraConfirmacao
  InclusaoConfirmacaoOperacao:
    type: object
    properties:
      operacaoConfirmada:
        type: boolean
        enum:
          - true
          - false
        description: >-
          Operação financeira confirmada (true). Operação financeira não confirmada (false).
        example: true
    required:
      - operacaoConfirmada
  MensagemRetorno:
    type: object
    properties:
      dataReferencia:
        description: 'Data hora de referência da transação no formato RFC 3339, seção 5.6.'
        type: string
        format: date-time
        example: '2017-07-21T17:32:28Z'
      codigoErro:
        type: number
        format: integer
        description: Faixa de código de erro que representa a falha de uma ação.
        example: 1000
      mensagemErro:
        type: string
        description: Mensagem de erro.
        example: Erro na inserção de uma operação.
      codigoDetalheErro:
        type: number
        format: integer
        description: Código de detalhamento do erro.
        example: 1
      detalheErro:
        type: string
        description: Mensagem de detalhamento do erro.
        example: Você não possui permissão para inserir uma operação.
      parametros:
        type: object
        description: Objeto que contêm chave/valor de parâmetros que possam ser retornados.
    required:
      - codigoErro
      - mensagemErro
      - dataReferencia